#mainArea {
    display: flex;
    flex-direction: row; /* 좌우 배치 */
    gap: 10px;          /* 간격 */
    height: calc(100vh - 60px); /* header 높이 뺀 영역 */
}

#content {
    flex: 2;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
}

#inputArea {
    flex: 1.4; /* 좁게 */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
}

.inputBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-sizing: border-box;
}

#userInputLabel, #contextInputLabel, #promptInputLabel, #maxTokensInputLabel, #temperatureInputLabel, #topPInputLabel {
    margin-bottom: 10px;
    font-weight: bold;
}

#userInput, #maxTokensInput, #temperatureInput, #topPInput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
}

#contextInput, #promptInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    min-height: 100px;
    resize: none;
}

#userInput, #contextInput, #promptInput, #maxTokensInput, #temperatureInput, #topPInput {
    margin-bottom: 20px;
}

#userInput:disabled, #contextInput:disabled, #promptInput:disabled, #maxTokensInput:disabled, #temperatureInput:disabled, #topPInput:disabled {
    background-color: #c3c3c3;
}

.btn {
    min-height: 40px;
}

#sendBtn {
    margin-bottom: 10px;
}

/* inference box */
.inference-box {
    background: none;
    /*background-color: #f5f5f5;*/
    /*border: 1px solid #ddd;*/
    /*border-radius: 8px;*/
    padding: 14px 20px;
    margin: 5px 0 0 0;
    max-width: 70%;
}

.title {
    margin-right: 20px;
}

.status-row {
    display: flex;
    align-items: center;
}

.toggle {
    margin-top: 10px;
    background: none;
    border: none;
    color: #C64F4FFF;
    cursor: pointer;
}

.stream-box {
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 10px;
    display: none;
    font-family: monospace;
    font-size: 13px;
    color: #555;
}

.toggle.active + .stream-box {
    display: block;
}

