.message {
    max-width: 70%;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 15px;
    word-wrap: break-word;
    line-height: 1.8;
}

.query {
    align-self: flex-end;
    background-color: #C64F4FFF;
    color: #fff;
    border-bottom-right-radius: 0;
}

.answer {
    align-self: flex-start;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #333;
    border-bottom-left-radius: 0;
    white-space: pre-line;
}

#sendBtn {
    background-color: #C64F4FFF;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 0 20px;
    cursor: pointer;
}

#sendBtn:hover {
    background-color: #a54242ff;
}