#mainArea {
    display: flex;
    flex-direction: row; /* 좌우 배치 */
    gap: 10px;          /* 간격 */
    height: calc(100vh - 60px); /* header 높이 뺀 영역 */
}

#content {
    flex: 1;
    border: 1px solid #ddd;
    padding: 10px;
    overflow-y: auto;
}

#inputArea {
    flex: 0.2; /* 좁게 */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
}

.inputBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 15px;
}

#fileInputLabel {
    margin-bottom: 10px;
    font-weight: bold;
}

#fileInput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
}

#fileInput:disabled {
    background-color: #c3c3c3;
}

#sendMarkDownBtn, #sendHtmlBtn {
    margin-bottom: 10px;
}

.drop-zone {
    flex: 1;
    border: 2px dashed #aaa;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #666;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}

.drop-zone.dragover {
    background-color: #f0f8ff;
    border-color: #4a90e2;
    color: #000;
}

/* extract custom */
.answer {
    width: 100%;
}

table {
    margin-bottom: 15px;
}

.btn {
    min-height: 40px;
}

.copy {
    margin: 25px 0 15px 0;
}

.originContent {
    white-space: pre-line;
}