#inputArea {
    display: flex;
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}

#userInput {
    flex: 1;
}

#userInputLabel {
    margin-bottom: 10px;
    font-weight: bold;
}

#userInput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
}

#userInput:disabled {
    background-color: #c3c3c3;
}

.btn {
    margin-left: 10px;
}